.btn {
    width: 100%;
    padding: 19px 50px;
    background-color: var(--purple-btn-color);
    line-height: 71%;
    border: none;
    border-radius: var(--main-border-radius);
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_mini {
    padding: 19px 30px;
}

.btn_transparent {
    background: transparent;
    border: 1px solid var(--purple-btn-color);
}

.btn_grd {
    background: linear-gradient(101deg, #a259ff 0%, #c25cc2 35%, #ff6250 100%);
}
.btn_white {
    background: var(--main-text-color);
}

.btn_icon {
    height: 20px;
    width: 20px;
}
