.btn {
    padding: 19px 50px;
    background-color: var(--purple-btn-color);
    line-height: 71%;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn_mini {
    padding: 19px 30px;
}

.btn_transparent {
    background: transparent;
    border: 1px solid var(--purple-btn-color);
}

.btn_icon {
    height: 20px;
    width: 20px;
}
