.input__wrap {
    display: flex;
    position: relative;
    width: 100%;
    border-radius: var(--main-border-radius);
    align-items: center;
}
.input {
    width: 100%;
    border-radius: var(--main-border-radius);
    border: none;
    padding: 20px 210px 19px 20px;
    outline: none;
    height: 100%;
    font-size: 16px;
}
.input__btn {
    position: absolute;
    right: 0;
}

.input__wrap_mobile {
    flex-direction: column;
    gap: 16px;
}
.input_mobile {
    padding: 16px 20px 16px 20px;
}

.input__btn_mobile {
    width: 100%;
    position: relative;
}
