@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap');

:root {
    --main-text-color: #ffffff;
    --secondary-text-color: #cccccc;
    --background-color: #2b2b2b;
    --background-secondary-color: #3b3b3b;
    --caption-labelText-color: #858584;
    --purple-btn-color: #a259ff;
    --gradient-color: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%);
    --main-border-radius: 20px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    color: var(--main-text-color);
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    color: inherit;
    font-family: inherit;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
}

svg *[fill] {
    fill: currentColor;
}

/* Планшеты
@media (max-width: 960px) {
}
 Мобильные устройства */
/* @media (max-width: 520px) { */
/* } */
/* @media (max-width: 380px) {
}   */
